[Desktop Entry]
Name=Gnome Test Rust
Exec=gnome-test-rust
Icon=org.example.GnomeTestRust
Type=Application
Terminal=false
Categories=Utility;
StartupWMClass=org.example.GnomeTestRust
